@use "sass:map";
@use "../global.scss";

body.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}
#htmlMenu {
  position: fixed;
  top: 1em;
  right: 1em;
  height: 3.7em;
  width: 3.7em;
  background: global.$quaternary;
  z-index: 100;
  box-shadow: none;
  border: none;
}
#htmlMenu i {
  display: inline-flex;
  font-size: 3em;
  margin-left: -0.16em;
  margin-top: -0.03em;
  color: global.$tertiary;
}
#htmlMenuOffcanvas {
  max-width: 80%;
  min-width: 20%;
  width: 14em;
  min-height: 100em;
  height: 100vh;
  overflow-y: hidden;
}
#menuOffcanvasHeader {
  width: 100%;
}
#menuAvatar {
  position: relative;
  width: 75px;
  height: 75px;
}
#menuTitle {
  position: relative;
  justify-content: center;
}
.offcanvas-body {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.menuItemDiv {
  display: block;
  width: 100%;
  min-width: 80%;
  height: 2.1em;
  padding-left: .2em;
  font-size: 1.7em;
}
.menuItemA,
.menuItemA:hover,
.menuItemA:active,
.menuItemA:visited {
  text-decoration: none;
  color: global.$text;
}
#menuLoginBtn {
  margin-left: 3em;
  height: 2.5em;
  width: 6em;
  color: global.$text;
}
