@use "sass:map";
@use "../global.scss";

#htmlMenu {
  position: fixed;
  top: 1em;
  right: 1em;
  height: 3.7em;
  width: 3.7em;
  background: map.get(global.$colors, "quaternary");
  z-index: 100;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2em;
  height: 2.5em;
  padding: 0.3em 0;
}
.hamburger-line {
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: map.get(global.$colors, "tertiary");
  border-radius: 0.1em;
  transition: all 0.3s ease;
}
#htmlMenuOffcanvas {
  max-width: 80%;
  min-width: 15em;
  width: 15em;
  min-height: 100em;
  height: 100vh;
  overflow-y: hidden;
}
#menuOffcanvasHeader {
  width: 100%;
}
#menuAvatar {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 0.7em;
}
#menuTitle {
  position: relative;
  justify-content: center;
}
.offcanvas-body {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
#menuBody {
  padding-left: 0.8em;
}
.menuItemDiv {
  display: block;
  width: 100%;
  min-width: 80%;
  height: 2.1em;
  padding-left: .3em;
  font-size: 1.6em;
}
.menuItemA,
.menuItemA:hover,
.menuItemA:active,
.menuItemA:visited {
  text-decoration: none;
  color: map.get(global.$colors, "text");
}
#menuLoginBtn {
  position: relative;
  margin-left: 2.5em;
  height: 2.5em;
  width: 5em;
}
@media (max-width: 576px) {
  .menuItemDiv {
    font-size: 1.3em;
  }
}
