@use "sass:map";
@use "../global.scss";

body.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}
#htmlMenu {
  position: fixed;
  top: 1em;
  right: 1em;
  height: 3.7em;
  width: 3.7em;
  background: global.$quaternary;
  z-index: 100;
}
#htmlMenu i {
  display: inline-flex;
  font-size: 3em;
  margin-left: -0.16em;
  margin-top: -0.03em;
  color: global.$tertiary;
}
#htmlMenuOffcanvas {
  max-width: 80%;
  min-width: 15em;
  width: 16em;
}
#menuOffcanvasHeader {
  width: 100%;
}
#menuAvatar {
  position: relative;
  width: 75px;
  height: 75px;
}
#menuTitle {
  position: relative;
  justify-content: center;
}
.offcanvas-body {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.menuItemDiv {
  display: block;
  width: 100%;
  min-width: 80%;
  height: 2.5em;
  padding-left: .5em;
}
.menuItemA,
.menuItemA:hover,
.menuItemA:active,
.menuItemA:visited {
  text-decoration: none;
  color: map.get(global.$colors, "text");
}
#menuLoginBtn {
  margin-left: 4em;
}
