@use "../global";

.modal-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.modal .btn {
  margin: 0 1rem;
  align-self: stretch;
  display: block;
  text-align: center;
}