@use "sass:map";
@use "../global.scss";

.aboutDiv {
  width: 100%;
  background-color: hsl(0, 0%, 19.2%, 0.9);
  padding: 10px;
}
#whoDiv {
  overflow: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#whoImg {
  width: 80px;
  height: 80px;
  float: left;
  margin: 15px 15px 10px 0;
}
#whoText {
  margin: 0;
}
#linkedinImg {
  width: 25px;
  height: 25px;
  clear: both;
  display: block;
  float: right;
  margin-top: -10px;
}
#pronounceBtn {
  padding-left: .1em;
  margin-right: -.2em;
}