@use "sass:map";
@use "../global.scss";

.aboutDiv {
  width: 100%;
  background-color: hsl(0, 0%, 19.2%, 0.9);
  padding: 10px;
}
#whoDiv {
  overflow: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.whoImg {
  width: 5em;
  height: 5em;
  float: left;
  margin-right: 1em;
  border-radius: 1em;
}
.whoText {
  margin: 0;
}
.linkedinImg {
  width: 1.5em;
  height: 1.5em;
  clear: both;
  display: block;
  float: right;
  margin-top: -1.3em;
}
#pronounceBtn {
  padding-left: .1em;
  margin-right: -.2em;
}
#nopsDiv {
  padding-bottom: 0.5em;
}
#alphaImg {
  right: calc(50% - 20px);
}