@use "sass:map";
@use "../global.scss";

#recommendedDiv {
  background-color: global.$secondary;
  height: 180px;
  text-align: center;
  border-radius: 2.5em;
  position: relative;
}
#recommendedDiv > h4 {
  margin-top: 5px;
}
#recommendedBtn {
  position: relative;
  display: inline-block;
}
#recommendedImg {
  margin: 10px 0 5px 0;
  height: 5em;
  width: 5em;
}
#recommendedText {
  color: global.$text;
  margin-bottom: 20px;
}
#tosRow {
  text-align: center;
}
#tosColumn {
  background-color: global.$secondary;
  border-radius: 2.5em;
  margin-bottom: 1em;
  position: relative;
}
#tosDiv {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tosCheckbox {
  width: 2em;
  height: 2em;
  border: 2px solid map.get(global.$colors, "text");
  margin-right: 1em;
  cursor: pointer;
}
.form-check-label {
  margin-left: 8px;
}
#row3 {
  background-color: global.$tertiary;
  height: 250px;
  min-height: 250px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}
#row3 > h4 {
  text-align: center;
  padding-bottom: 25px;
}
.platformColumn, .platformDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}
.platformImg {
  height: 50px;
  width: 50px;
}
.platformText {
  color: map.get(global.$colors, "text");
  padding-top: 0.5em;
}

#versionRow {
  text-align: center;
  margin-top: 20px;
}
#versionText {
  color: map.get(global.$colors, "text");
  font-size: 0.9em;
  opacity: 0.6;
}

.ctaDiv {
  text-align: center;
  padding: 5px;
}
#ctaBtn {
  margin-top: 5px;
}

#arrowToTos {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid map.get(global.$colors, "success");
  position: relative;
  display: none;
  animation: bobbingRight 1s ease-in-out infinite;
  float: left;
  left: -3.5em;
  top: 1em;
}
#arrowToDownload {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid map.get(global.$colors, "success");
  position: absolute;
  display: none;
  animation: bobbingRight 1s ease-in-out infinite;
  left: -3.5em;
  top: 40%;
  transform: translateY(-50%);
}
@keyframes bobbingRight {
  0%, 100% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(10px, -50%);
  }
}

@media screen and (max-width: 576px) {
  #rowFooter {
    margin-top: 6em;
  }
  .platformColumn, .platformDiv {
    height: 7em;
  }
}