@use "sass:map";
@use "../global.scss";

#recommendedDiv {
  background-color: global.$secondary;
  height: 180px;
  text-align: center;
  border-radius: 2.5em;
  position: relative;
}
#recommendedDiv > h4 {
  margin-top: 5px;
}
#recommendedBtn {
  position: relative;
  display: inline-block;
}
#recommendedImg {
  margin: 10px 0 5px 0;
  height: 5em;
  width: 5em;
}
#recommendedText {
  color: global.$text;
  margin-bottom: 20px;
}
#tosRow {
  text-align: center;
}
#tosColumn {
  background-color: global.$secondary;
  border-radius: 2.5em;
  margin-bottom: 1em;
  position: relative;
}
#tosDiv {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tosCheckbox {
  width: 2em;
  height: 2em;
  border: 2px solid map.get(global.$colors, "text");
  margin-right: 1em;
  cursor: pointer;
}
.form-check-label {
  margin-left: 8px;
}
#row3 {
  background-color: global.$tertiary;
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}
#row3 > h4 {
  text-align: center;
  padding-bottom: 25px;
}
.platformColumn, .platformDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}
.platformImg {
  height: 50px;
  width: 50px;
}
.platformText {
  color: map.get(global.$colors, "text");
  padding-top: 0.5em;
}
#alphaImg {
  right: calc(50% - 20px) !important;
}
#versionRow {
  text-align: center;
  margin-top: 1em;
}
#versionText {
  color: map.get(global.$colors, "text");
  font-size: 0.9em;
  opacity: 0.6;
}
.ctaDiv {
  text-align: center;
  padding: 5px;
}
#ctaBtn {
  margin-top: 5px;
}
#arrowToTos {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid map.get(global.$colors, "success");
  position: relative;
  display: none;
  animation: bobbingRight 1s ease-in-out infinite;
  float: left;
  left: -3.5em;
  top: 1em;
}
#arrowToDownload {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid map.get(global.$colors, "success");
  position: absolute;
  display: none;
  animation: bobbingRight 1s ease-in-out infinite;
  left: -3.5em;
  top: 40%;
  transform: translateY(-50%);
}
#downloadCheckmark {
  position: absolute;
  right: -100%;
  top: calc(50% - 0.3em);
  font-size: 4em;
  font-weight: 900;
  color: map.get(global.$colors, "success");
  display: none;
  animation: popIn 0.3s ease-out forwards;
  -webkit-text-stroke: 2px map.get(global.$colors, "success");
}
@keyframes popIn {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
  70% {
    transform: translateY(-50%) scale(1.2);
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes bobbingRight {
  0%, 100% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(10px, -50%);
  }
}
@media screen and (max-width: 576px) {
  .platformColumn, .platformDiv {
    height: 7em;
  }
}