{{define "htmlMenu"}}<div class="offcanvas offcanvas-end" tabindex="-1" id="htmlMenuOffcanvas" data-bs-scroll="true"
                          aria-labelledby="htmlMenuOffcanvas" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="offcanvas-header d-flex align-items-center" id="menuOffcanvasHeader">
            <a href="https://app.yourplace.network/p/yourplace.base.eth" class="grow cursorPointer" id="menuAvatarLink">
                <img src="/static/image/yourplace-logo.svg" id="menuAvatar" alt="Avatar">
            </a>
            <a href="https://app.yourplace.network/login" class="grow cursorPointer" id="loginBtn">
                <button class="btn btn-primary" id="menuLoginBtn" >Login</button>
            </a>
        </div>
        <div class="offcanvas-body flex">
            <a href="https://app.yourplace.network/" class="menuItemA">
                <div id="menuApp" class="menuItemDiv grow cursorPointer">🏠 Places</div>
            </a>
            <a href="/download" class="menuItemA">
                <div id="menuDownload" class="menuItemDiv grow cursorPointer">💾 Download</div>
            </a>
            <a href="https://whitepaper.yourplace.network" class="menuItemA" target="_blank">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">🧑‍🏫 Learn</div>
            </a>
            <a href="https://github.com/YourPlace-Network/" class="menuItemA" target="_blank">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">🛠️ Build</div>
            </a>
            <a href="/faq" class="menuItemA">
                <div id="menufaq" class="menuItemDiv grow cursorPointer">❔ FAQ</div>
            </a>
            <a href="/about" class="menuItemA">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">ℹ️ About</div>
            </a>
        </div>
    </div>
    <button class="btn grow" id="htmlMenu" data-bs-toggle="offcanvas" data-bs-target="#htmlMenuOffcanvas" aria-controls="offcanvasWithBothOptions">
        <i class="bi bi-list"></i>
    </button>
{{template "modalLogin" .}}{{end}}