{{define "htmlMenu"}}<div class="offcanvas offcanvas-end" tabindex="-1" id="htmlMenuOffcanvas"
                          aria-labelledby="htmlMenuOffcanvas" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="offcanvas-header d-flex align-items-center" id="menuOffcanvasHeader">
            <a href="/" class="grow cursorPointer">
                <img src="/static/image/yourplace-logo.svg" id="menuAvatar" alt="Avatar">
            </a>
            <a href="https://app.yourplace.network/login">
                <button class="btn btn-primary" id="menuLoginBtn">Login</button>
            </a>
        </div>
        <div class="offcanvas-body flex">
            <a href="/download" class="menuItemA">
                <div id="menuDownload" class="menuItemDiv grow cursorPointer">Download</div>
            </a>
            <a href="https://whitepaper.yourplace.network" class="menuItemA">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">Learn</div>
            </a>
            <a href="https://github.com/YourPlace-Network/YourPlace" class="menuItemA">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">Build</div>
            </a>
            <a href="https://investor.yourplace.network" class="menuItemA">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">Invest</div>
            </a>
            <a href="/about" class="menuItemA">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">About</div>
            </a>
        </div>
    </div>
    <button class="btn grow" id="htmlMenu" data-bs-toggle="offcanvas" data-bs-target="#htmlMenuOffcanvas">
        <i class="bi bi-list"></i>
    </button>
{{template "modalLogin" .}}{{end}}