{{define "htmlMenu"}}<div class="offcanvas offcanvas-end" tabindex="-1" id="htmlMenuOffcanvas"
                          aria-labelledby="htmlMenuOffcanvas" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="offcanvas-header d-flex align-items-center" id="menuOffcanvasHeader">
            <a href="/p/" class="grow cursorPointer">
                <img src="/static/image/avatar.png" id="menuAvatar" alt="Avatar">
            </a>
            <button class="btn btn-primary" id="menuLoginBtn">Login</button>
        </div>
        <div class="offcanvas-body flex">
            <a href="/" class="menuItemA"><div id="menuHome" class="menuItemDiv grow cursorPointer">
                Home
                </div></a>
            <!-- todo <a href="/search" class="menuItemA"><div id="menuSearch" class="menuItemDiv grow cursorPointer">
                Search
                </div></a>-->
            <!-- todo <a href="/wallet" class="menuItemA"><div id="menuWallet" class="menuItemDiv grow cursorPointer">
                Wallet
                </div></a>-->
            <a href="/settings" class="menuItemA"><div id="menuSettings" class="menuItemDiv grow cursorPointer">
                Settings
                </div></a>
            <a href="/faq" class="menuItemA"><div id="menuFAQ" class="menuItemDiv grow cursorPointer">
                FAQ
                </div></a>
            <a href="/mentalHealth" class="menuItemA"><div id="menuMentalHealth" class="menuItemDiv grow cursorPointer">
                Mental Health
                </div></a>
            <!-- todo <a href="/help" class="menuItemA"><div id="menuHelp" class="menuItemDiv grow cursorPointer">
                Help
                </div></a>-->
        </div>
    </div>
    <button class="btn grow" id="htmlMenu" data-bs-toggle="offcanvas" data-bs-target="#htmlMenuOffcanvas">
        <i class="bi bi-list"></i>
    </button>
{{template "modalLogin" .}}{{end}}