* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
    margin: 0;
    text-align: left;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.w-full {
    width: 100%;
}
.max-w-lg {
    max-width: 32rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-20 {
    margin-top: 5rem;
}
.p-5 {
    padding: 1.25rem;
}
.pt-4 {
    padding-top: 1rem;
}
.font-bold {
    font-weight: 700;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-black {
    color: rgb(0, 0, 0);
}
.text-gray-900 {
    color: rgb(17, 24, 39);
}
.text-gray-400 {
    color: rgb(156, 163, 175);
}
.text-blue-600 {
    color: rgb(37, 99, 235);
}
#logoImg {
    width: 50%;
    display: block;
    margin: -3rem auto 0;
}
#errorHeader {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
}
