name: Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Enable manual trigger

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      HOST: "yourplace.network"
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        lfs: true

    - name: Set up build environment
      run: |
        sudo apt-get update
        sudo apt-get upgrade -y
        sudo apt-get install -y build-essential make

    - name: Install dependencies
      run: make clean install

    - name: Build
      run: make build

    - name: Create keys and certificates
      run : |
        mkdir -p ~/.ssh
        echo "${{ secrets.DO_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ vars.DO_SSH_HOST }} >> ~/.ssh/known_hosts
        echo "${{ secrets.CF_ORIGIN_KEY }}" > ~/cert.key
        chmod 600 ~/cert.key
        echo "${{ secrets.CF_ORIGIN_PEM }}" > ~/cert.pem
        chmod 600 ~/cert.pem

    - name: Copy files to droplet
      run: |
        scp -i ~/.ssh/id_rsa ./target/YourPlaceLanding ${{ vars.DO_SSH_USER }}@${{ vars.DO_SSH_HOST }}:/opt/YourPlace/YourPlaceLanding.new
        scp -i ~/.ssh/id_rsa ~/cert.pem ${{ vars.DO_SSH_USER }}@${{ vars.DO_SSH_HOST }}:/opt/YourPlace/cert.pem
        scp -i ~/.ssh/id_rsa ~/cert.key ${{ vars.DO_SSH_USER }}@${{ vars.DO_SSH_HOST }}:/opt/YourPlace/cert.key
        scp -i ~/.ssh/id_rsa ./resources/yourplace.service ${{ vars.DO_SSH_USER }}@${{ vars.DO_SSH_HOST }}:/tmp/yourplace.service
        
    - name: Deploy and restart service
      id: deploy
      run: |
        ssh -i ~/.ssh/id_rsa ${{ vars.DO_SSH_USER }}@${{ vars.DO_SSH_HOST }} << 'EOF'
          mkdir -p /opt/YourPlace
          systemctl stop yourplace
          sleep 5
          pkill -f YourPlaceLanding || echo "No YourPlaceLanding process found"
          sleep 5
          mv /opt/YourPlace/YourPlaceLanding.new /opt/YourPlace/YourPlaceLanding
          chmod +x /opt/YourPlace/YourPlaceLanding
          mv /tmp/yourplace.service /etc/systemd/system/yourplace.service
          systemctl daemon-reload
          systemctl start yourplace
          sleep 5
          systemctl enable yourplace
          systemctl status yourplace
        EOF

    - name: Clean up
      run: |
        rm -rf ~/.ssh
        rm -rf ~/cert.pem
        rm -rf ~/cert.key
